body {
    display: block;


    background-color: #55aae2;
}

.header {
    padding: 20px;
    border: 2px solid powderblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #97bbb6;
    color: #ffffff;
}

.header h1 {

    color: #1b0b53;
    font-size: 50px;
}

.header h1 .seo {
    color: #1b0b53;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    color: #1b0b53;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: none;
    color: brown;
}

.header div ul li {
    float: right;
    margin-left: 25px;
    color: brown;
    padding: 22px;


}

a {
    color: #0c0c01;
    text-decoration: none;
    font-size: 60px;
    
}

p {
    color: #0c0c01;
    font-size: 22px;
}

.hero {
    height: 400px;
    width: 600px;
    margin-bottom: 25px;
    background-image: url("../images/RR_smaller.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(31, 19, 2);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}



.content {
    width: 100%;
    display: block;
}

button {
    color: burlywood;
    font-size: 20px;
    height: 77px;
    width: 99px;
    padding: 30px;
}

/* 
.benefits {

    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6ca4b3;
}
 */
 .container {
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 
 }

.about-me {

    display: block;

    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #696938;
    color: #0c0c01;
}

.cards {
    
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px;

 }

.work {

    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #696938;
    color: #0c0c01;
}

.contact-me {

    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #696938;
    color: #0c0c01;
    font-size: 65px;

}

/* .about-me img {
    size: 70px;
    border: 5px;
    color: black;
    padding: 11px;
    box-shadow: 0 4px 8px 0 rgba(20, 5, 5, 0.603);
    transition: 0.3s;
    border-radius: 17%;

} */

/* .work img {

    padding: 11px;
    box-shadow: 0 4px 8px 0 rgba(20, 5, 5, 0.603);
    transition: 0.3s;
    border-radius: 17%;

} */

/* .contact-me img {
    max-height: 270px;
    border: 5px;
    color: black;
    padding: 11px;
    box-shadow: 0 4px 8px 0 rgba(20, 5, 5, 0.603);
    transition: 0.3s;
    border-radius: 17%;

} */


article {
    border-bottom: 1px solid #13293d;
}




.card {

    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(20, 5, 5, 0.603);
    transition: 0.3s;
    flex: 0 1 24%;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}




ol {
    display: block;
    list-style-type: circle;
    text-decoration: none;
    font-size: 40px;
    color: #0c0c01;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50px;
    margin-right: 0;
    padding-left: 40px;

}



.about-me h2,
.work h2,
.contact-me h2 {
    margin-bottom: 20px;
    font-size: 66px;
}

.footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 10px;
}